<header>
    <div class="container__header">
        <div class="logo">
            <a href="#">
                <img src="" alt="">
            </a>
        </div>

        <div class="menu">
            <nav>
                <ul>
                    <li><a>Mis carpeta</a></li>
                    <li><a>Crear</a></li>
                    <li><a>Compartido</a></li>
                    <li><a>Mi perfil</a></li>
                    <li><a>Cerrar sesion</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>