<form class="form">
    <h1>Cambiar contraseña</h1>
      <span class="input-span">
      <h2>Username: {{user}}</h2>
      <label for="email" class="label">Nueva password</label>
      <input type="password" name="nuevaPassword" [(ngModel)]="nuevaPassword" id="nuevaPassword" ngModel required></span>
      <span class="input-span">
      <label for="password"   class="label">Confirmar password:</label>
      <input type="password" [(ngModel)]="password" name="password" id="password" ngModel required></span>
      <input class="submit" type="submit" (click)="confirmarCambioContrasena()" value="Log in">
      <span class="span">Don't have an account? <a  (click)="confirmarCambioContrasena()">Sign up</a></span>
    </form>