<mat-drawer-container>
    <mat-sidenav>
      <h1>Sidenav</h1>
    </mat-sidenav>
    <mat-toolbar>
      <button mat-icon-button><mat-icon>cloud</mat-icon></button>
      <span>CloudArchivos</span>
      <span class="example-spacer"></span>
  
      
      <button mat-button [routerLink]="['./mi-carpeta']" >Mi Carpeta</button>
      <!--<button mat-button [routerLink]="['./edit']">Crear</button>-->
      <button mat-button [routerLink]="['./compartidos']">Compartido</button>
      <button mat-button [routerLink]="['./regis']">Registro</button>
      <button mat-button [routerLink]="['./papelera']">Papelera</button>
      <button mat-button [routerLink]="['./password']">Cambio password</button>
      <button mat-button [routerLink]="['/']">Cerrar sesion</button>
  
    </mat-toolbar>
  </mat-drawer-container>

  <router-outlet> </router-outlet>