<mat-drawer-container>
    <mat-sidenav>
      <h1>Sidenav</h1>
    </mat-sidenav>
    <mat-toolbar>
      <button mat-icon-button><mat-icon>cloud</mat-icon></button>
      <span>CloudArchivos</span>
      <span class="example-spacer"></span>
  
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-button [routerLink]="['/empleado/mi-carpeta']" >Mi Carpeta</button>
      <button mat-button [routerLink]="['./edit']">Crear</button>
      <button mat-button>Compartido</button>
      <button mat-button>Registro</button>
      <button mat-button>Papelera</button>
      <button mat-button>Cerrar sesion</button>
  
    </mat-toolbar>
  </mat-drawer-container>