     
       <mat-card [style.width]="'200px'" (dblclick)="onDoubleClick(carpeta)">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        {{ carpeta.nombre}}
                    </mat-list-item>
                    <div>
                        <button (click)="mover(carpeta)" mat-button>Mover</button>
                        <button (click)="borrar(carpeta)" mat-button>Eliminar</button>
                        <button mat-icon-button  >
                            <mat-icon>copy</mat-icon>
                          </button>
                    </div>
                </mat-list>
            </mat-card-content>
        </mat-card>

<!--
    <td><mat-icon mat-list-icon>folder</mat-icon></td>
    <td>{{carpeta.nombre}}</td>
    <td>{{carpeta.creador}}</td>
    <td>
        <button class="btn btn-primary" (click)="onDoubleClick(carpeta)">Abrir</button>
        <button class="btn btn-warning" (click)="mover(carpeta)">Mover</button>
        <button class="btn btn-danger" (click)="borrar(carpeta)">Eliminar</button>
    </td>

-->
    
