

        <mat-card [style.width]="'200px'" (dblclick)="onDoubleClick(documento)">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>description</mat-icon>
                        {{ documento.nombre}}{{ documento.tipo}}
                    </mat-list-item>
                    <div>
                        <button (click)="mover(documento)">Mover</button>
                        <button (click)="borrar(documento)">Eliminar</button>
                        <button mat-icon-button (click)="abrirDialogoShare(documento)">
                            <mat-icon>share</mat-icon>
                        </button>
                    </div>

                </mat-list>
            </mat-card-content>
        </mat-card>
  


